.navbar {
    background-color: #000000c9;
    padding: 16px;
    color: white
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 16px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
}

.nav-link:hover {
    color: #007bff;
}